#home-wrapper .introduction {
    justify-content: center;
    height: 100vh;
    padding-top: 5rem;
}

#home-wrapper h1.intro-greeting {
    margin-top: 10rem;
    font-size: 4.5rem;
    background: var(--rainbow-gradient-one);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home-wrapper p.intro-greeting {
    font-size: 1.5rem;
    color: var(--gray);
    margin-top: 2rem;
    font-family: var(--font-1);
}

#home-wrapper a.intro-about {
    color: var(--gray);
    text-decoration: none;
    transition: 0.3s;
}

#home-wrapper a.intro-about:hover {
    color: var(--gold);
    transition: 0.3s;
}

#home-wrapper .arrow {
    display: inline-block;
    height: 20px;
    width: auto !important;
    margin-left: 10px;
}

#home-wrapper .link img {
    transition: all 0.5s;
}

#home-wrapper .link:hover > img {
    transform: translateX(10px);
}

#home-wrapper .intro-profile {
    width: 65vh;
    z-index: 100;
    margin-top: 2rem;
}